//styling for header section
header{
    display: block;
    position: relative;
    z-index: 10;
    height: 56px;
    line-height: 56px;
    background-color: #343434;
    color: #fff;
    .wrapper{
        position: relative;
        height: 100%;
        margin-right: auto;
        margin-left: auto;
        a{
            color:#fff;
        }
        .site{
            &__logo {
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
                display: block;
                @include font-source-sans($generalText, 28px, $generalWhite, 600, auto, none, 1);
                @include text-shadow(1px 1px 2px rgba(0,0,0,0.47));
            }
            &__nav{
                float: right;
                ul.list{
                    li.site{
                        &__login {
                            @include font-source-sans($generalText, 14px, $generalWhite, 400, 2rem, none, 1);
                            @include text-shadow(1px 1px 2px rgba(0,0,0,0.47));
                            @include mq('tablet-768','min'){
                                padding-right: 12px;
                            }
                        }
                        &__cta{
                            padding-left: 1em;
                            display:none;
                            a.button{
                                @include font-source-sans($generalText, 14px, $generalWhite, 400, 2rem, none, 1);
                                @include text-shadow(1px 1px 2px rgba(0,0,0,0.47));
                            }
                            @include mq('mobile-480','min'){
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }

    }
}