$generalText:'Inter',sans-serif;

///////color
//white
$generalWhite:#fff;
$generalWhiteTrans80:rgba(255,255,255,0.8);

//blue
$gradientLightBlue:#09f;
$gradientDarkBlue:#06f;
$backgroundBlue:#07f;

//grey
$gradientLightGrey:#444;
$gradientDarkGrey:#333;
$footerBgGrey:#1e1e1e;
$footerLightGrey:#bdbdbd;
$footerSeperatorLightGrey:#999;


//mobile responsiveness breakpoints
$breakpoints: (
    "mobile-320":  320px,
    "mobile-480":  480px,

    "tablet-768":  768px,
    "tablet-1025":  1025px,
    "tablet-1024":  1024px,
    
    "desktop":      1248px,
    "desktop-1300": 1300px,
    "desktop-wide": 1440px
);